@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model OnlineBookstore.Models.Book

<h2>Add Book</h2>
<form asp-action="Create" method="post">
    <label>Title</label>
    <input asp-for="Title" />
    <span asp-validation-for="Title"></span>
    <br />

    <label>Author</label>
    <input asp-for="Author" />
    <span asp-validation-for="Author"></span>
    <br />

    <label>ISBN</label>
    <input asp-for="ISBN" />
    <span asp-validation-for="ISBN"></span>
    <br />

    <label>Price</label>
    <input asp-for="Price" />
    <span asp-validation-for="Price"></span>
    <br />

    <button type="submit">Save</button>
</form>

